.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* border */
.covered {
  border: 1px solid #959595;
  border-radius: 15px;
}

.paginate-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.paginate-container a {
  margin-inline: 5px;
  border: 1px solid #202732;
  color: #202732;
  padding: 2px 8px;
  border-radius: 4px;
}

/* .previous {
  margin-right: 5px;
  border: 1px solid #202732;
  color: #202732;
  padding: 4px;
  border-radius: 4px;
} */

/* .next {
  margin-left: 5px;
  border: 1px solid #202732;
  color: #202732;
  padding: 4px;
  border-radius: 4px;
} */

.toast-bar {
  background-color: #ff3d00 !important;
}

/* pagination */
.paginate-container a:hover {
  background-color: #202732;
  color: #fff;
}

.active-page a {
  background-color: #202732;
  color: #fff;
}

.disabled-page a {
  border: 1px solid #ccc;
  color: #202732;
  background-color: #959595;
}

.covered .details {
  padding: 2px;
}

/* media queries */
/* featured */
@media screen and (min-width: 460px) {
  .featured .image {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 640px) {
  .featured .image {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 800px) {
  .featured .image {
    flex-basis: 40%;
  }
}

/* products */
@media screen and (min-width: 300px) {
  .product {
    width: 90%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 500px) {
  .product-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem !important;
  }
  /* reset */
  .covered {
    border: none;
    border-radius: 0;
  }

  .covered .details {
    padding: 0;
  }
  .product {
    width: 100%;
    margin: auto;
  }
}

/* animations */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
